# ===============================
# Database
# ===============================
DB_URL=jdbc:mysql://localhost:3306/composite?serverTimezone=Asia/Seoul&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=example-user
DB_PASSWORD=example-password

# ===============================
# Flyway
# ===============================
FLYWAY_ENABLED=true

# ===============================
# JPA
# ===============================
JPA_DDL_AUTO=validate


# ===============================
# AWS
# ===============================
AWS_ACCESS_KEY=awsaccesskey
AWS_SECRET_KEY=awssecretkey
AWS_S3_REGION=ap-northeast-2
AWS_S3_ATTACHMENT_BUCKET_NAME=bucket-name
AWS_S3_ATTACHMENT_KEY_PREFIX=key-prefix

# ===============================
# REQUEST SIZE
# ===============================
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB

# ===============================
# JWT
# ===============================
JWT_EXPIRATION=1d
